.wrapper{
  max-width: 1200px;
  margin: 0px auto;
  padding: 10px;
}
header {
  min-height: 100px;
  padding: 10px;
}
img {
  max-width: 100%;
}
.logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.page-header {
  display: inline;
  font-size: 75px;
}
.main-nav {
  list-style: none;
}
.nav-item {
  display: inline;
  font-size: 25px;
}
.pull-right {
  float: right;
}
* {
  border: 1px solid;
}
